<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <style>
    table, td {
      border: 1px solid black;
      width: 50%;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>

<body class="container">

	<header>
		<% include ./partials/header %>
	</header>

	<h1>List</h1>
		Esse sistema foi acessado por você <%= counter %> vezes
  <table>
	<% for(var i=0; i<files.length; i++) {%>
    <tr>
      <td><a href="ebook?ebookname=<%= files[i].facadeName %>"><%= files[i].facadeName %></a></td>
      <td><%= files[i].description %></td>
    </tr>
	<% } %>
	</table>
</body>
</html>