<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">

	<header>
		<% include ./partials/header %>
	</header>

	<h1>List</h1>
		Esse sistema foi acessado <%= counter %> vezes
	<ul>
	<% for(var i=0; i<files.length; i++) {%>
		<li>
			<span><a href="ebook?ebookname=<%= files[i] %>"><%= files[i] %></a></span>
		</li>
	<% } %>
	</ul>
</body>
</html>