<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
	<h1>Welcome to my list of great helping languages</h1>
	<a href="/login">Login</a>
	<% if(authenticated){ %>
		<a href="/logout">Logout</a>
	<% } %>
</body>
</html>