<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
		<h1>a list of great helping books</h1>
		<input type="hidden" value="<%= values %>" id="values"/>
    </div>
</main>

</body>
</html>